<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/priscilaparticl" target="_blank">
        <span class="fa-twitter fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Twitter</span>
    </a>
    {% endif %}
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        <span class="fa-github fa" aria-hidden="true"></span>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
    {% if site.pinterest %}
    <a href="https://www.pinterest.com/{{ site.pinterest }}" target="_blank">
        <span class="fa-pinterest fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Pinterest</span>
    </a>
    {% endif %}

</p>
